*, *:before, *:after {
  box-sizing: border-box;
}
body {
  background-color: darkgrey;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;

}
.arrow-left {
  float: left;
  font-size: 12px;
  width: 21.2px;
  height: 21.2px;
  color: #0259A9;
  transform: rotate(180deg);
  margin-left: -10px;
}
.BusyBus {
  float: left;
  color:#0259A9;
  font-weight: 300;
  font-size: 16px;
  width:10%;
  margin-left: 4px;
}
.location {
  background-color: white;
  height: auto;
  overflow: auto;
  margin:0px;
  border-bottom: 1px solid lightgrey;
}
.statusbar{
  width: 375px;
  position: relative;
  height: 20px;
  margin-bottom: 0px;
}

.content {
  width: 94%;
  float: left;
}
.Userpic {
  float:right;
  width: 10%;
  margin-right: 2px;
  margin-top: -10px
}
.searchbar {
  background-color:#fafafa;
  padding: 15px;
  border: none;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.arrow {
  float: right;
  width: 21.2px;
  height: 21.2px;
color: #0259A9;
  font-size: 10px;
  display: inline-block;
  padding-top: 5px;
}
.container {
  margin: 10px auto;
  margin-top: 70px;
  width: 375px;
}
nav {
  position:relative;
  font-style: sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  background-color: #EDEDEE;
  padding: 15px;
  border-bottom: 1px solid lightgrey;
}
h1 {
  font-size: 16px;
  font-weight: 300;
  margin: 10px;
  margin-bottom: 10px;
  color: #0259A9;
  }
h3 {
    font-size: 14px;
    font-weight: 300;
  }
h4 {
  text-transform:inherit;
  color: #0259A9;
  width: 100%;
  padding-top: 10px;
  font-weight: 300;
}
h5 {
  color:#d1a400;
  font-size:11px;
  font-weight: 300;
  width: 90%;
    padding-top: 10px;
}
h6 {
  text-transform:inherit;
color: #d1002d;
  width: 100%;
  padding-top: 10px;
  font-weight: 300;
}

.bus-route {
  display: inline-block;
  float: left;
  width: 375px;
  border-bottom: 1px solid lightgrey;
}
.busroute-number {
  color: white;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  position: relative
  top:-20px;
  margin-left: 12px;
  width: 50px;
  height: 26.5px;
}
.myClass {
 align-items: center;
 display: flex !important;
 justify-content: center;
}
.myNewClass {
align-items: center;
display: flex !important;
padding: 10px 0;
}

.busroute-name {
  display: inline-block;
  width: 70%;
  padding-left:50px;
}
.busroute-number {
  background-color:#8a8a8a;

}
.busnames {
  font-weight: 600;
  padding-left: 20px;
}
input {
  width: 340px;
  background-color: #EAEAEB;
  border-radius:8px;
  padding-left: 10px;
  position: relative;
}
p {
  font-weight: bold;
}
