*, *:before, *:after {
  box-sizing: border-box;
}
body {
  background-color: slategrey;
  font-family:sans-serif;
  font-size: 12px;
}
.arrow-left {
  float: left;
  font-size: 12px;
  width: 21.2px;
  height: 21.2px;
  color: #0259a9 ;
  transform: rotate(180deg);
  margin-left: -10px;
}
.BusyBus {
  float: left;
  color:#0259a9;
  font-weight: lighter;
  font-size: 16px;
  width:.3%;
  margin-left: 4px;
}
.location {
  background-color: #FFFFFF;
  height: auto;
  overflow: auto;
  margin:0px;
  border-bottom: 1px solid lightgrey;
}
.statusbar{
  width: 375px;
  position: relative;
  height: 20px;
  margin-bottom: 0px;
}

.content {
  width: 94%;
  float: left;
}
.profileicon {
  float:right;
  width: 3%;
  margin-right: 7px;
}
.searchbar {
  background-color:#FFFFFF;
  padding: 15px;
  border-bottom: 1px solid lightgrey;

}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.arrow {
  float: right;
  width: 21.2px;
  height: 21.2px;
  color: #0259a9 ;
  font-size: 10px;
  display: inline-block;
  padding-top: 10px;
}
.container {
  margin: 10px auto;
  margin-top: 70px;
  width: 375px;
}
nav {
  position:relative;
  font-style: sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  background-color: #EDEDEE;
  padding: 15px;
  border-bottom: 1px solid lightgrey;
}
h1 {
  font-size: 16px;
  font-weight: bold;
  margin: 10px;
  margin-bottom: 10px;
  color:#0259a9;
  }
h3 {
    font-size: 14px;
    font-weight: normal;
  }
h4 {
  text-transform:inherit;
  color: #e77e43;
  width: 50%;
}
h5 {
  text-transform: uppercase;
  color:#0259a9;
  font-size:11px;
  width: 90%;
}

.bus-route {
  display: inline-block;
  float: left;
  width: 375px;
  border-bottom: 1px solid lightgrey;
}
.busroute-number {
  color: white;
  box-shadow:0px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  position: relative
  top:-20px;
  margin-left: 12px;
  width: 50px;
  height: 26.5px;
}
.myClass {
 align-items: center;
 display: flex !important;
 justify-content: center;
}
.myNewClass {
align-items: center;
display: flex !important;
padding: 10px 0;
}

.busroute-name {
  display: inline-block;
  width: 70%;
  padding-left:50px;
}
.busroute-number-one {
  background-color:rgba(45, 170, 118);\
}
.busroute-number-two {
  background: rgba(194, 14, 111, 0.6);
}
.busroute-number-three {
  background: rgba(117, 73, 190);
}
.busroute-number-four {
  background: rgba(171, 164, 177);
}
.busroute-number-five {
  background: rgba(169, 37, 37);
}
.busnames {
  font-weight: 600;
  padding-left: 20px;
}
input {
  width: 340px;
  background-color: #EAEAEB;
  border-radius:8px;
  padding-left: 10px;
  position: relative;
}
p {
  font-weight: bold;
}
